* {
  margin: 0;
  padding: 0;
  font-style: oblique;
  text-align: center;
}

header {
  position: relative;
}

header img {
  width: 100%;
}

header div {
  position: absolute;
  top: 80px;
  right: 100px;
  color: white;
}

header h1 {
  font-size: 7vw;
}

header p {
  text-align: end;
  margin-right: 30px;
}

header div h1,
header div p {
  transition: transform 1s ease;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

header div:hover h1,
header div:hover p {
  transition: transform 1s ease;
  transform: matrix(1, -0.2, 0, 1, -40, -40);
}

.rule {
  margin: 70px 0 -70px 0;
  text-align: center;
}

main {
  max-width: 80vw;
  margin: 140px auto;
  padding: 100px 0;
  border-top: 5px rgba(0, 0, 0, 0.8) dotted;
  border-bottom: 5px rgba(0, 0, 0, 0.8) dotted;
}

.hidden-guitar {
  position: absolute;
  width: 20px !important;
  z-index: 2;
}

.hidden-guitar:hover {
  transform: scale(1.2, 1.2);
}

.content__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content__row img {
  width: 400px;
}

.rotate {
  transition: transform 1s ease;
  transform: rotate(0deg);
}

.rotate:hover {
  transition: transform 1s ease;
  transform: rotate(90deg);
}

.content__row h2 {
  display: inline-block;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.9);
}

.content__row img:last-of-type {
  transform: rotateY(180deg);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -60px 0 60px 0;
}

.trick {
  height: 20px;
  width: 20px;
  background-image: url("../images/guitar.png");
  background-position: center;
  background-size: 100%;
  margin-left: 5px;
}

.trick:hover {
  background-image: url("../images/troll.jpg");
  transform: scale(3, 3);
  margin-left: 20px;
}

.action-guitar {
  transition: transform 0.5s ease;
  transform: scale(2, 2) rotate(360deg);
}

.action-guitar--big {
  transition: transform 0.5s ease;
  transform: rotate(360deg) scale(1.2, 1.2);
}

.action-guitar--bas {
  transition: transform 0.5s ease;
  filter: invert(30%) !important;
}

#win-screen {
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.win-wrapper {
  color: white;
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 20px 70px;
  position: relative;
  transition: transform 1s ease;
  transform: rotate(360deg);
}

.win-wrapper img {
  border-radius: 10px 60px;
}

.win-wrapper div {
  position: absolute;
  right: 60px;
  top: 25px;
}

.win-wrapper h1 {
  text-align: right;
}

.animate-victory {
  transition: transform 1s ease;
  transform: rotate(360deg);
}

.display-none {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden;
}

@media screen and (max-width: 1250px) {
  .content__row img {
    width: 200px;
  }

  .content__row h2 {
    font-size: 24px;
  }

  .rule {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  header div {
    top: 50px;
    right: 70px;
  }
}

@media screen and (max-width: 730px) {
  .content__row img {
    width: 100px;
  }

  .content__row h2 {
    font-size: 18px;
  }

  .rule {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  header div {
    top: 20px;
    right: 20px;
  }

  header p {
    font-size: 2vw;
  }

  main p {
    margin-bottom: 40px;
    margin-top: -30px;
  }
}
