.spot1 {
  top: 38%;
  left: 50%;
}
.spot2 {
  bottom: 0;
  right: 0;
  filter: invert(100%);
}
.spot3 {
  top: 56%;
  left: 9%;
  filter: invert(95%);
}
.spot4 {
  bottom: 20%;
  right: 20px;
}
.spot5 {
  top: 26%;
  left: 50%;
}
.spot9 {
  bottom: 50px;
  right: 50px;
}
.spot10 {
  top: 222px;
  left: 160px;
  filter: invert(100%);
}
.spot11 {
  top: 230px;
  right: 70px;
}
.spot12 {
  bottom: 60px;
  left: 80px;
}
.spot13 {
  top: 40px;
  right: 3.5%;
  filter: invert(100%);
}
